
body {
  font-size: 14px;
  color: #000000;
  font-weight: normal;
  font-family: 'PT Sans', sans-serif;
  background-color: #f2f2f2;
}


h2 {
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
}

h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
}

.clearfix {
  clear: both;
}

.container {
  width: 1200px;
  padding: 0;
  margin: 0 auto;
  background-color: #fff;
}

header {
  min-height: 55px;
  background-color: #fff;
}

.feature-header {
  min-height: 125px;
  background-color: #fff;
}

.feature {
  min-height: 255px;
}


.bonus-block{
min-height: 330px;
background-color: #fff;
}

.bonus-item {
  width: 400px;
  float: left;
}

.items-last {
  min-height: 255px;
  background-color: #eee;
}


.search-header {
  min-height: 290px;
  background-color: #fff;
}

.search-block {
  width: 570px;
  min-height: 480px;
  background-color: #fff;
}

.search-block-title {
  min-height: 87px;
  background-color: #766357;
}

footer {
  min-height: 120px;
}

.filter {
  min-height: 218px;
}

.results-header {
  min-height: 87px;
}


.hotel{
  min-height: 151px;
}

.col-1 {
  width: 400px;
  float: left;
}

.col-2 {
  width: 800px;
  float: left;
}

.col-3 {
  width: 1200px;
}

.col-4 {
  width: 600px;
  float: left;
}

.filter-block {
  width: 300px;
  float: left;
}
